$control-white: #dee7ff;
$envy-green: #1db896;

$primary-blue: #1372e5;
$light-blue: #17a1e5;
$medium-blue: #1342aa;
$medium-blue2: #0d358e;
$dark-blue: #062c7f;

$silver: #8894b7;

$heading-black: #17203a;
$paragraph-gray: #535b72;
$light-gray: #babdc7;

$building-gradient: linear-gradient(120deg, rgba(0,212,255,0) 0%, rgba(19,114,229,1) 50%, rgba(31,81,204,1) 100%);
